<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="example.com.templateprogram">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/super_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CheckPermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name="example.com.templateprogram.activity.PhotoViewActivity"-->
        <!--android:screenOrientation="portrait"/>-->
        <activity
            android:name=".activity.PermissionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/myTransparent"/>
        <activity
            android:name=".test.activity.TestMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.Testone"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestCopy"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestMessengerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestAIDLActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestJsonResolve"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestWebViewJSActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestPicassoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestDeBuggerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestFontActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGlideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGirdRecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGoogleBannerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGoogleInterstitialActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGoogleNativeAdsAdvancedActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGoogleRewardedVideoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestCeilingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestVideoViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGifActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestNotificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestRecyclerviewGalleryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestWeixinContactsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestSlidingMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestSlidingMenuActivity2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestNavigationBarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestFlipActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".test.service.MyServiceUnBind"></service>
        <service android:name=".test.service.MyServiceBind"></service>
        <service
            android:name=".test.service.TestAIDLService"
            android:process=":haha"></service>
        <service
            android:name=".test.service.TestMessengerService"
            android:process=":xixi"></service>


        <!--Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <!--Facebook -->
    </application>

</manifest>