<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="example.com.templateprogram">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/super_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".test.activity.TestMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="example.com.templateprogram.activity.PhotoViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.Testone"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestCopy"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestMessengerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestAIDLActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestJsonResolve"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestWebViewJSActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestPicassoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestDeBuggerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestFontActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGlideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGirdRecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test.activity.TestGoogleBannerActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".test.service.MyServiceUnBind"></service>
        <service android:name=".test.service.MyServiceBind"></service>
        <service
            android:name=".test.service.TestAIDLService"
            android:process=":haha"></service>
        <service
            android:name=".test.service.TestMessengerService"
            android:process=":xixi"></service>

    </application>
</manifest>